/* Import Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Ensure proper scaling on mobile devices */
meta {
    name: viewport;
    content: width=device-width, initial-scale=1.0;
}

/* Header styles */
#header {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100px; /* Adjust the height as needed */
    background-color: white;
    margin-top: 150px;
}

.header-inner {
    display: flex;
    margin-top: 30px; /* Adjust margin as needed */
    justify-content: center;
}

.header-logo img {
    align-items: center;
    width: 100px;
}

.logo {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.title {
     /* Add some space between the logo and title */
    margin-top: 50px; /* Adjust margin as needed */
    margin-bottom: 100px; /* Adjust margin as needed */
    font-size: 12vh;
    font-family: "Nunito";
    font-weight: 800;
    color: darkolivegreen;
}

.symbol img {
    width: 30px; /* Adjust the size of the logo */
    margin: 10px;
   
}

.symbol-logo img{
    width: 130px;
}

#main {
    margin-top: 50px; /* Adjust margin as needed */
    display: flex;
    flex-wrap: wrap; /* Allow tiles to wrap to the next row */
    justify-content: space-around; /* Horizontally distribute tiles */
    align-items: flex-start; /* Align tiles to the top */
}

#header-subtitle {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    color: darkolivegreen;
}

body {
    font-family: "Nunito";
}

.nav-bar-title {
    color: darkolivegreen;
    font-weight: 800;
}

.topnav {
    display: flex;
    justify-content: space-between; /* Align items on each end of the container */
    align-items: center; /* Align items vertically */
    background-color: bisque;
    /* padding: 10px; Add padding for spacing */
    font-family: "Nunito";
    position: relative;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center; /* Align items vertically */
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #7B3F00;
    text-decoration: none;
    font-weight: 800;
    padding: 14px 16px;
    
}

.spacer {
    flex-grow: 1; /* Expand to fill remaining space */
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    background-size: contain;
    border-radius: 20px;
    color: orange;
}

a {
    text-decoration: none;
}

/* Ensure flexbox layout for body content */
.container {
    display: flex;
    flex-direction: column; /* Adjust as needed */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh; /* Fill viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    margin-bottom: 100px;
}

/* Individual tile styles */
.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tile {
    width: calc(35% - 20px); /* Adjust width of each tile */
    height: calc(35% - 20px);
    margin-top: 100px;
    border: 20px solid #CADB9C; /* Add border for visual separation */
    border-radius: 50px; /* Add border radius for rounded corners */
    overflow: hidden; /* Hide overflow content */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s ease; /* Add transition effect */
}

.tile:hover {
    transform: translateY(-20px); /* Move tile up slightly on hover */
    border: 20px solid #809447;
}

.image{
  flex: 1; /* Ensure image fills available space */
  display: flex; /* Use flexbox */
  /* margin-top: 10%; */
  padding-top: 5%;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.image img {
    width: 80%; /* Ensure image fills the container */
    height: auto; /* Maintain aspect ratio */
    
}

.style1{
  align-content: center;
  text-align: center;
  background-color: #E9F0D5;
}

.style2{
  align-content: center;
  text-align: center;
  background-color: #E9F0D5;
}

.style1 h2{
  color:darkolivegreen;
  font-size: x-large;
  text-align: center;
}

.style2 h2{
  color:darkolivegreen;
  font-size: x-large;
  text-align: center;

}



.content h2 {
    font-size: 1.2rem; /* Adjust heading size */
    color: #393939;
}

.content p {
    font-size: 1rem; /* Adjust paragraph size */
    color: #393939; /* Set paragraph color */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    margin: 0;
    padding-bottom: 30px;
   
}

#footer {
  background-color: bisque; /* Background color of the footer */
  margin-top: 150px;
  align-content: center;
}

#footer #inner{
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly with space between them */
  align-items:flex-end; /* Center items vertically */
  position: relative;

}

.icons {
  display: flex; /* Use flexbox */
  list-style: none; /* Remove default list style */
  padding: 0px; /* Remove default padding */
  margin: 0px; /* Remove default margin */
  
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa-linkedin {
  color: white;
  background-color: orange;
  
}

.fa-github {
  color: white;
  background-color: orange;}

.fa-envelope {
  color: white;
  background-color: orange;}

.fa-instagram {
  color: white;
  background-color: orange;}

.icons li {
  margin-right: 30px; /* Add margin between social media icons */
}

.icons li:last-child {
  margin-right: 0; /* Remove margin from the last social media icon */
}

/* Optional: Add hover effect on social media icons */
.icons a:hover {
  background-color: darkolivegreen;
}